header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 12px;
  border-bottom: 1px solid #d3d6da;
}

.menu_location {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_location img {
  width: 26px;
  margin-right: 5px;
}

.wordle_title {
  font-size: 28px;
  font-weight: bold;
}

.menu_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_icon img {
  width: 26px;
  margin-left: 7px;
}
